<div class="card-container" *ngIf="!userState.valid">
  <mat-progress-bar *ngIf="progressing" mode="indeterminate">
  </mat-progress-bar>
  <mat-card class="mat-elevation-z8">
    <mat-horizontal-stepper *ngIf="!userState.validated" [linear]="isLinear" #stepper>
        <div >
          <mat-step [stepControl]="firstFormGroup"  [editable]="'false'">
            <form fxLayout="column" [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Verify Phone</ng-template>
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="phone Number"
                  formControlName="phone"
                  type="number"
                  required
                />
              </mat-form-field>
              <mat-form-field *ngIf="userState.status === 'phone_initiated'" appearance="outline">
                <input
                  matInput
                  placeholder="OTP"
                  formControlName="OTP"
                  type="number"
                  required
                />
              </mat-form-field>
              <div *ngIf="userState.status === 'not_initiated'">
                <button style="margin: 0.1em;" (click)="sendOtp()" mat-flat-button color="primary">
                  Send OTP
                </button>
              </div>
              <div *ngIf="userState.status === 'phone_initiated'">
                <button style="margin: 0.1em;" (click)="sendOtp()" mat-flat-button [disabled]="!OTP">
                  Resent OTP
                </button>
                <button style="margin: 0.1em;" mat-flat-button (click)="verify(stepper)" color="primary">
                  Verify
                </button>
              </div>
            </form>
          </mat-step>
        </div>
        <mat-step [stepControl]="secondFormGroup">
          <div *ngIf="secondFormGroup">
            <form fxLayout="column" [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Verify Code</ng-template>

              
              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Card ID"
                  formControlName="card_id"
                  type="text"
                  required
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <input
                  matInput
                  placeholder="Card Code"
                  formControlName="card_code"
                  type="text"
                  required
                />
              </mat-form-field>

              <div>
                <button (click)="final()" mat-flat-button color="primary" >
                  Verify
                </button>
              </div>
            </form>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
      <mat-grid-list *ngIf="userState.validated" cols="3">
        <mat-grid-tile ></mat-grid-tile>
        <mat-grid-tile
            colspan="1"
            rowspan="1"
          >
          <p style="color: green;font-size: x-large;">
            User Verified
          </p>
        </mat-grid-tile>
        <mat-grid-tile ></mat-grid-tile>
      </mat-grid-list>
  </mat-card>
</div>

