
<div class="card-container">
  <form [formGroup]="form" fxLayout="column" fxLayoutAlign="space-around stretch" >
      <mat-card>

          <mat-card-header appearance="outline" fxLayout="row">
                  <mat-card-title>{{state.title}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>

              <div *ngFor="let field of config.content;">
                <div *ngIf="field[0]" >
                  <div >
                    <ng-container
                    
                    *ngFor="let element of field"
                    dynamicField
                    [config]="element"
                    [group]="form">
                  </ng-container>
                  </div>
                </div>

                <div  *ngIf="field.type">
                  <ng-container
                    dynamicField
                    [config]="field"
                    [group]="form">
                  </ng-container>
                </div>
                
              </div>

          </mat-card-content>

          <mat-card-actions fxLayout="row" fxLayoutGap="1em">
                <ng-container fxLayout="row" fxLayoutGap="1em"
                *ngFor="let field of config.footer;"
                  dynamicField
                  [config]="field"
                  [group]="form">
                </ng-container>
          </mat-card-actions>
      </mat-card>
  </form>
</div>